apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ecostream-cluster-admin
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]
- nonResourceURLs: ["*"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ecostream-admin-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ecostream-cluster-admin
subjects:
- kind: Group
  name: {{ eks_group }}
  apiGroup: rbac.authorization.k8s.io
