apiVersion: v1
kind: Secret
metadata:
  name: gitops-repositories-access
  namespace: "{{ argocd_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "{{ gitops_repo_url }}.git"
  username: "{{ gitlab_username }}"
  password: "{{ gitlab_token }}"
